log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
.tmp_*
*/.tmp_*
*/*/.tmp_*
*/*/*/.tmp_*
config/intializers/webConf.rb
config/intializers/ldap_initializer.rb
config/intializers/cas_initializer.rb
public/.htaccess
