[submodule "vendor/plugins/authenticates_access"]
	path = vendor/plugins/authenticates_access
	url = git://github.com/mikldt/authenticates_access.git
[submodule "vendor/plugins/authenticates_rpi"]
	path = vendor/plugins/authenticates_rpi
	url = git://github.com/mikldt/authenticates_rpi.git
