/* ScavNet-dependent CSS file */
body, h1, h2, h3, h4, h5 { font-family:Arial, sans-serif; }
h2, h3 { font-size:1.5em; }
a { color:#006699; }
a:hover { color:#003366; }
table.scav_listing { color:#FFF; }
table.scav_listing th { background:#336699; color:FFF; font-size:1.2em; padding:8px 6px; text-align:left; }
table.scav_listing th a { color:#FFF; text-decoration:none; }
table.scav_listing th a:hover { color:#FFF; text-decoration:underline; }
table.scav_listing td { border-left:solid 1px #cccccc; border-bottom:solid 1px #cccccc; color:#000; padding:5px; }
table.scav_listing td a { font-size:1.1em; font-weight:bold; }
table.scav_listing td img { border:solid 2px #999999; }
table.scav_listing td img:hover { border:solid 2px #006699; }
table.scav_listing td.lastcol { border-right:solid 1px #cccccc; }
tr.listing_odd { background:url(../images/frame/lightgray_bg.gif) repeat; }
tr.listing_even { background:#FFF; }
span.strong_link { color:#333333; font-size:1.3em; font-weight:bold; margin-right:20px; }
span.strong_link a { color:#333; text-decoration:none; }
span.strong_link a:hover { color:#006699; text-decoration:underline; }

#search_padding { padding:6px 0px 6px 0px; }
td.toplinks ul { color:#336699; font-size:1.5em; list-style:none; }
td.toplinks ul a { color:#336699; display:block; background:url(../images/frame/lightgray_bg.gif) repeat; border-top:dotted 1px #006699; text-decoration:none !important; padding:8px;  }
td.toplinks ul a:hover { background:#006699; border-top:dotted 1px #FFF; color:#FFF; text-decoration:underline; }
td.searchbox h2 { margin:0px 0px 8px 0px; }
td.searchbox input { background:url(../images/frame/lightgray_bg.gif) repeat;border:solid 1px #ccc;font-size:1.75em; padding:3px;  width:95%; }
td.searchbox img { border:0px; }

#titleblock { text-align:center; }
#titleblock h1 { font-size:3em; margin:0px 0px 5px 0px; }
#titleblock h2 { color:#000; font-size:1.25em; margin:0px 0px 12px 0px; }

div.item_header { background:#006699; clear:both; color:#FFF !important; margin-bottom:30px; }
div.item_header h1 {color:#FFF; margin:0; padding:0px; }
div.header_sub { font-size:0.9em; margin-top:-25px; margin-bottom:30px; text-align:right; }
div.header_sub a { color:#666666; }
div.item_header_padding { padding:6px; }
div.item_footer { background:url(../images/frame/lightgray_bg.gif) repeat; border:solid 1px #cccccc; clear:both; font-size:0.85em; line-height:normal; }
div.item_footer_padding { padding:4px; }

div.indent_1 { padding-left:25px; }

div.img_insert { float:left; margin:0px 25px 25px 0px; }
div.img_insert img { border:solid 2px #999999; }

h6 { color:#333; font-size:1.1em; margin:0px 0px 6px 0px; }

/* Edit forms */
table.edit_win { background:url(../images/frame/lightgray_bg.gif) repeat; margin:0px; padding:0px; width:100%; }
table.edit_win td { border:0px; border-bottom:dashed 1px #cccccc; padding:16px; text-align:left; vertical-align:top; }
table.edit_win td p { color:#666666; line-height:normal; margin:0px 0px 6px 0px; padding:0px; }
table.edit_win textarea, table.edit_win .text-input { width:100%; }
td.edit_col { width:70%; }