<h1>List a New Item on ScavNet</h1>

<% form_for(@item, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <table class="edit_win" cellpadding="6" cellspacing="0">
      <%= render :partial => f %>
      <tr>
        <td></td>
        <td><%= f.submit 'Create' %></td>
      </tr>
  </table>
<% end %>

<%= link_to 'Back', items_path %>
