<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>


<%= link_to 'Edit Category', edit_category_path(@category) %> |
<%= link_to 'Back to Categories', categories_path %> |
<%= link_to 'Home', root_url %>