<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<% if @category.allowed_to_save %>
  <%= link_to 'Edit Category', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back to Categories', categories_path %> |
<%= link_to 'Home', root_url %>
