<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<% if @location.allowed_to_save %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>
<%= link_to 'Back to Locations', locations_path %> |
<%= link_to 'Home', root_url %>
